$primary-color: #d71f0a;
$dark-primary-color: #88251a;
$success-color: #317434;

$primary-backround: #222222;
$secondary-backround: #333333;
$gradient-backround: linear-gradient(150deg, $dark-primary-color, $secondary-backround);

$border-color: #000000;

$primary-text-color: #c2c2c2;
